* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: 8px 5px #000000;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: system-ui, Segoe UI, Roboto, Arial;
  overflow: hidden;
  transition: filter 0.4s ease;
}

.half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: flex 0.6s ease, filter 0.6s ease;
}

.left {
  background-image: url(kep/bekes.jpg);
}
.right {
  background-image: url(kep/bcsaba.jpg);
}

.fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: clamp(20px, 6vmin, 48px);
  font-weight: bold;
  transition: background 0.4s ease;
}

.half:hover {
  flex: 1.3;
  filter: brightness(1);
}

@media (max-width: 520px) {
  body {
    flex-direction: column;
  }
  .half {
    height: 50vh;
  }
  .half:hover {
    flex: 1.3;
  }
}
